aws-cdk.assets==1.6.1
aws-cdk.aws-apigateway==1.3.0
aws-cdk.aws-applicationautoscaling==1.3.0 
aws-cdk.aws-autoscaling==1.3.0
aws-cdk.aws-autoscaling-common==1.3.0     
aws-cdk.aws-autoscaling-hooktargets==1.3.0
aws-cdk.aws-certificatemanager==1.3.0     
aws-cdk.aws-cloudformation==1.3.0
aws-cdk.aws-cloudfront==1.3.0
aws-cdk.aws-cloudwatch==1.6.1
aws-cdk.aws-codebuild==1.3.0
